<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--<clear/>-->
    <add key="nexus" value="https://nexus.ihis-hip.sg/repository/nuget/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <nexus>
      <add key="Username" value="%NX_USR%" />
      <add key="ClearTextPassword" value="%NX_PWD%" />
    </nexus>
  </packageSourceCredentials>
</configuration>
