{
  "swagger": "2.0",
  "info": {
    "title": "Firely Server - ResearchStudy",
    "version": "4.10.0"
  },
  "host": "server.fire.ly",
  "schemes": [
    "http"
  ],
  "paths": {
    "/ResearchStudy": {
      "post": {
        "tags": [
          "ResearchStudy"
        ],
        "summary": "create: Create a new ResearchStudy instance",
        "operationId": "CreateResearchStudy",
        "consumes": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "A FHIR ResearchStudy",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResearchStudy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResearchStudy"
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "409": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "412": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "422": {
            "description": "UNPROCESSABLE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "get": {
        "tags": [
          "ResearchStudy"
        ],
        "summary": "search-type: Search for ResearchStudy instances",
        "operationId": "SearchResearchStudyGet",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/_elements"
          },
          {
            "$ref": "#/parameters/_summary"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "$ref": "#/parameters/_filter"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_in"
          },
          {
            "$ref": "#/parameters/_language"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_list"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_query"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/_text"
          },
          {
            "$ref": "#/parameters/_contained"
          },
          {
            "$ref": "#/parameters/_count"
          },
          {
            "$ref": "#/parameters/_graph"
          },
          {
            "$ref": "#/parameters/_include"
          },
          {
            "$ref": "#/parameters/_revinclude"
          },
          {
            "$ref": "#/parameters/_score"
          },
          {
            "$ref": "#/parameters/_sort"
          },
          {
            "$ref": "#/parameters/_total"
          },
          {
            "$ref": "#/parameters/_format"
          },
          {
            "$ref": "#/parameters/_has"
          },
          {
            "$ref": "#/parameters/category"
          },
          {
            "$ref": "#/parameters/date"
          },
          {
            "$ref": "#/parameters/focus"
          },
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "$ref": "#/parameters/keyword"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/partof"
          },
          {
            "$ref": "#/parameters/principalinvestigator"
          },
          {
            "$ref": "#/parameters/protocol"
          },
          {
            "$ref": "#/parameters/site"
          },
          {
            "$ref": "#/parameters/sponsor"
          },
          {
            "$ref": "#/parameters/status"
          },
          {
            "$ref": "#/parameters/title"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bundle"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/ResearchStudy/{logical_id}": {
      "delete": {
        "tags": [
          "ResearchStudy"
        ],
        "summary": "delete: Perform a loical delete on a ResearchStudy instance",
        "operationId": "DeleteResearchStudy",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "$ref": "#/parameters/_filter"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_in"
          },
          {
            "$ref": "#/parameters/_language"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_list"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_query"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/_text"
          },
          {
            "$ref": "#/parameters/_count"
          },
          {
            "$ref": "#/parameters/_format"
          },
          {
            "$ref": "#/parameters/_has"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/category"
          },
          {
            "$ref": "#/parameters/date"
          },
          {
            "$ref": "#/parameters/focus"
          },
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "$ref": "#/parameters/keyword"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/partof"
          },
          {
            "$ref": "#/parameters/principalinvestigator"
          },
          {
            "$ref": "#/parameters/protocol"
          },
          {
            "$ref": "#/parameters/site"
          },
          {
            "$ref": "#/parameters/sponsor"
          },
          {
            "$ref": "#/parameters/status"
          },
          {
            "$ref": "#/parameters/title"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResearchStudy"
            }
          },
          "202": {
            "description": "ACCEPTED"
          },
          "204": {
            "description": "NO CONTENT"
          },
          "400": {
            "description": "BAD REQUEST",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "409": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ResearchStudy"
        ],
        "summary": "patch: Patch a ResearchStudy instance",
        "operationId": "PatchResearchStudy",
        "consumes": [ ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Patch to apply to a FHIR ResearchStudy record",
            "required": true,
            "schema": { }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResearchStudy"
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "412": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "get": {
        "tags": [
          "ResearchStudy"
        ],
        "summary": "read: Read a FHIR ResearchStudy",
        "operationId": "ReadResearchStudy",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/_elements"
          },
          {
            "$ref": "#/parameters/_summary"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResearchStudy"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ResearchStudy"
        ],
        "summary": "update,create: Update or Create a ResearchStudy instance",
        "operationId": "UpdateOrCreateResearchStudy",
        "consumes": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "$ref": "#/parameters/_filter"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_in"
          },
          {
            "$ref": "#/parameters/_language"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_list"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_query"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/_text"
          },
          {
            "$ref": "#/parameters/_count"
          },
          {
            "$ref": "#/parameters/_format"
          },
          {
            "$ref": "#/parameters/_has"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/category"
          },
          {
            "$ref": "#/parameters/date"
          },
          {
            "$ref": "#/parameters/focus"
          },
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "$ref": "#/parameters/keyword"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/partof"
          },
          {
            "$ref": "#/parameters/principalinvestigator"
          },
          {
            "$ref": "#/parameters/protocol"
          },
          {
            "$ref": "#/parameters/site"
          },
          {
            "$ref": "#/parameters/sponsor"
          },
          {
            "$ref": "#/parameters/status"
          },
          {
            "$ref": "#/parameters/title"
          },
          {
            "in": "body",
            "name": "body",
            "description": "An updated FHIR ResearchStudy",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResearchStudy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResearchStudy"
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "409": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "412": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "422": {
            "description": "UNPROCESSABLE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/ResearchStudy/_search": {
      "post": {
        "tags": [
          "ResearchStudy"
        ],
        "summary": "search-type: Search for ResearchStudy instances",
        "operationId": "SearchResearchStudyPost",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "_elements",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_summary",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_content",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_filter",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_id",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_in",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_language",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_lastUpdated",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_list",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_profile",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_query",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_security",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_source",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_tag",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_text",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_contained",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_count",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_graph",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_include",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_revinclude",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_score",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_sort",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_total",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_format",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_has",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "category",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "date",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "focus",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "identifier",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "keyword",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "location",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "partof",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "principalinvestigator",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "protocol",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "site",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "sponsor",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "status",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "title",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bundle"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/ResearchStudy/{logical_id}/_history/{resource_version}": {
      "get": {
        "tags": [
          "ResearchStudy"
        ],
        "summary": "vread: Read ResearchStudy instance with specific version",
        "operationId": "VReadResearchStudy",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/resource_version"
          },
          {
            "$ref": "#/parameters/_elements"
          },
          {
            "$ref": "#/parameters/_summary"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResearchStudy"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    }
  },
  "definitions": {
    "ResearchStudy": {
      "description": "Investigation to increase healthcare-related patient-independent knowledge",
      "type": "object"
    },
    "OperationOutcome": {
      "description": "Information about the success/failure of an action",
      "type": "object"
    },
    "Bundle": {
      "description": "Contains a collection of resources",
      "type": "object"
    }
  },
  "parameters": {
    "_format": {
      "in": "query",
      "name": "_format",
      "description": "Override the HTTP content negotiation",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_pretty": {
      "in": "query",
      "name": "_pretty",
      "description": "Ask for a pretty printed response for human convenience",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_elements": {
      "in": "query",
      "name": "_elements",
      "description": "Ask for a particular set of elements to be returned",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_summary": {
      "in": "query",
      "name": "_summary",
      "description": "Return only portions of resources, based on pre-defined levels",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_content": {
      "in": "query",
      "name": "_content",
      "description": "Search on the entire content of the resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_filter": {
      "in": "query",
      "name": "_filter",
      "description": "Provide an inline query expression",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_id": {
      "in": "query",
      "name": "_id",
      "description": "Logical id of this artifact",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_in": {
      "in": "query",
      "name": "_in",
      "description": "Allows for the retrieval of resources that are active members of a CareTeam, Group, or List",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_language": {
      "in": "query",
      "name": "_language",
      "description": "Language of the resource content",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_lastUpdated": {
      "in": "query",
      "name": "_lastUpdated",
      "description": "When the resource version last changed",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_list": {
      "in": "query",
      "name": "_list",
      "description": "Allows for the retrieval of resources that are referenced by a List resource or by one of the pre-defined functional lists",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_profile": {
      "in": "query",
      "name": "_profile",
      "description": "Profiles this resource claims to conform to",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_query": {
      "in": "query",
      "name": "_query",
      "description": "A custom search profile that describes a specific defined query operation",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_security": {
      "in": "query",
      "name": "_security",
      "description": "Security Labels applied to this resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_source": {
      "in": "query",
      "name": "_source",
      "description": "Identifies where the resource comes from",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_tag": {
      "in": "query",
      "name": "_tag",
      "description": "Tags applied to this resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_text": {
      "in": "query",
      "name": "_text",
      "description": "Perform searches against the narrative content of a resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_contained": {
      "in": "query",
      "name": "_contained",
      "description": "Request different types of handling for contained resources",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_count": {
      "in": "query",
      "name": "_count",
      "description": "Limit the number of match results per page of response",
      "type": "number",
      "collectionFormat": "multi"
    },
    "_graph": {
      "in": "query",
      "name": "_graph",
      "description": "Include additional resources according to a GraphDefinition",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_include": {
      "in": "query",
      "name": "_include",
      "description": "Include additional resources, based on following links forward across references",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_revinclude": {
      "in": "query",
      "name": "_revinclude",
      "description": "Include additional resources, based on following reverse links across references",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_score": {
      "in": "query",
      "name": "_score",
      "description": "Request match relevance in results",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_sort": {
      "in": "query",
      "name": "_sort",
      "description": "Request which order results should be returned in",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_total": {
      "in": "query",
      "name": "_total",
      "description": "Request a precision of the total number of results for a request",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_has": {
      "in": "query",
      "name": "_has",
      "description": "Enables querying a reverse chain",
      "type": "string",
      "collectionFormat": "multi"
    },
    "category": {
      "in": "query",
      "name": "category",
      "description": "product-problem | product-quality | product-use-error | wrong-dose | incorrect-prescribing-information | wrong-technique | wrong-route-of-administration | wrong-rate | wrong-duration | wrong-time | expired-drug | medical-device-use-error | problem-different-manufacturer | unsafe-physical-environment",
      "type": "string",
      "collectionFormat": "multi"
    },
    "date": {
      "in": "query",
      "name": "date",
      "description": "The activity definition publication date",
      "type": "string",
      "collectionFormat": "multi"
    },
    "focus": {
      "in": "query",
      "name": "focus",
      "description": "A resource that is a permitted focus of the message",
      "type": "string",
      "collectionFormat": "multi"
    },
    "identifier": {
      "in": "query",
      "name": "identifier",
      "description": "Account number",
      "type": "string",
      "collectionFormat": "multi"
    },
    "keyword": {
      "in": "query",
      "name": "keyword",
      "description": "Used to search for the study",
      "type": "string",
      "collectionFormat": "multi"
    },
    "location": {
      "in": "query",
      "name": "location",
      "description": "Location where adverse event occurred",
      "type": "string",
      "collectionFormat": "multi"
    },
    "partof": {
      "in": "query",
      "name": "partof",
      "description": "A location of which this location is a part",
      "type": "string",
      "collectionFormat": "multi"
    },
    "principalinvestigator": {
      "in": "query",
      "name": "principalinvestigator",
      "description": "Researcher who oversees multiple aspects of the study",
      "type": "string",
      "collectionFormat": "multi"
    },
    "protocol": {
      "in": "query",
      "name": "protocol",
      "description": "Steps followed in executing study",
      "type": "string",
      "collectionFormat": "multi"
    },
    "site": {
      "in": "query",
      "name": "site",
      "description": "Logical source location within the enterprise",
      "type": "string",
      "collectionFormat": "multi"
    },
    "sponsor": {
      "in": "query",
      "name": "sponsor",
      "description": "Organization that initiates and is legally responsible for the study",
      "type": "string",
      "collectionFormat": "multi"
    },
    "status": {
      "in": "query",
      "name": "status",
      "description": "active | inactive | entered-in-error | on-hold | unknown",
      "type": "string",
      "collectionFormat": "multi"
    },
    "title": {
      "in": "query",
      "name": "title",
      "description": "The human-friendly name of the activity definition",
      "type": "string",
      "collectionFormat": "multi"
    },
    "logical_id": {
      "in": "path",
      "name": "logical_id",
      "description": "Resource Logical ID",
      "required": true,
      "type": "string"
    },
    "resource_version": {
      "in": "path",
      "name": "resource_version",
      "description": "Resource Version Number",
      "required": true,
      "type": "string"
    }
  },
  "tags": [
    {
      "name": "ResearchStudy",
      "description": "Investigation to increase healthcare-related patient-independent knowledge"
    }
  ]
}