{
  "swagger": "2.0",
  "info": {
    "title": "Firely Server - Observation",
    "version": "4.10.0"
  },
  "host": "server.fire.ly",
  "schemes": [
    "http"
  ],
  "paths": {
    "/Observation": {
      "post": {
        "tags": [
          "Observation"
        ],
        "summary": "create: Create a new Observation instance",
        "operationId": "CreateObservation",
        "consumes": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "A FHIR Observation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Observation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Observation"
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "409": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "412": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "422": {
            "description": "UNPROCESSABLE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Observation"
        ],
        "summary": "search-type: Search for Observation instances",
        "operationId": "SearchObservationGet",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/_elements"
          },
          {
            "$ref": "#/parameters/_summary"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "$ref": "#/parameters/_filter"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_in"
          },
          {
            "$ref": "#/parameters/_language"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_list"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_query"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/_text"
          },
          {
            "$ref": "#/parameters/_contained"
          },
          {
            "$ref": "#/parameters/_count"
          },
          {
            "$ref": "#/parameters/_graph"
          },
          {
            "$ref": "#/parameters/_include"
          },
          {
            "$ref": "#/parameters/_revinclude"
          },
          {
            "$ref": "#/parameters/_score"
          },
          {
            "$ref": "#/parameters/_sort"
          },
          {
            "$ref": "#/parameters/_total"
          },
          {
            "$ref": "#/parameters/_format"
          },
          {
            "$ref": "#/parameters/_has"
          },
          {
            "$ref": "#/parameters/based-on"
          },
          {
            "$ref": "#/parameters/category"
          },
          {
            "$ref": "#/parameters/code"
          },
          {
            "$ref": "#/parameters/code-value-concept"
          },
          {
            "$ref": "#/parameters/code-value-date"
          },
          {
            "$ref": "#/parameters/code-value-quantity"
          },
          {
            "$ref": "#/parameters/code-value-string"
          },
          {
            "$ref": "#/parameters/combo-code"
          },
          {
            "$ref": "#/parameters/combo-code-value-concept"
          },
          {
            "$ref": "#/parameters/combo-code-value-quantity"
          },
          {
            "$ref": "#/parameters/combo-data-absent-reason"
          },
          {
            "$ref": "#/parameters/combo-value-concept"
          },
          {
            "$ref": "#/parameters/combo-value-quantity"
          },
          {
            "$ref": "#/parameters/component-code"
          },
          {
            "$ref": "#/parameters/component-code-value-concept"
          },
          {
            "$ref": "#/parameters/component-code-value-quantity"
          },
          {
            "$ref": "#/parameters/component-data-absent-reason"
          },
          {
            "$ref": "#/parameters/component-value-concept"
          },
          {
            "$ref": "#/parameters/component-value-quantity"
          },
          {
            "$ref": "#/parameters/data-absent-reason"
          },
          {
            "$ref": "#/parameters/date"
          },
          {
            "$ref": "#/parameters/derived-from"
          },
          {
            "$ref": "#/parameters/device"
          },
          {
            "$ref": "#/parameters/encounter"
          },
          {
            "$ref": "#/parameters/focus"
          },
          {
            "$ref": "#/parameters/has-member"
          },
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "$ref": "#/parameters/method"
          },
          {
            "$ref": "#/parameters/part-of"
          },
          {
            "$ref": "#/parameters/patient"
          },
          {
            "$ref": "#/parameters/performer"
          },
          {
            "$ref": "#/parameters/specimen"
          },
          {
            "$ref": "#/parameters/status"
          },
          {
            "$ref": "#/parameters/subject"
          },
          {
            "$ref": "#/parameters/value-concept"
          },
          {
            "$ref": "#/parameters/value-date"
          },
          {
            "$ref": "#/parameters/value-quantity"
          },
          {
            "$ref": "#/parameters/value-string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bundle"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/Observation/{logical_id}": {
      "delete": {
        "tags": [
          "Observation"
        ],
        "summary": "delete: Perform a loical delete on a Observation instance",
        "operationId": "DeleteObservation",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "$ref": "#/parameters/_filter"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_in"
          },
          {
            "$ref": "#/parameters/_language"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_list"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_query"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/_text"
          },
          {
            "$ref": "#/parameters/_count"
          },
          {
            "$ref": "#/parameters/_format"
          },
          {
            "$ref": "#/parameters/_has"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/based-on"
          },
          {
            "$ref": "#/parameters/category"
          },
          {
            "$ref": "#/parameters/code"
          },
          {
            "$ref": "#/parameters/code-value-concept"
          },
          {
            "$ref": "#/parameters/code-value-date"
          },
          {
            "$ref": "#/parameters/code-value-quantity"
          },
          {
            "$ref": "#/parameters/code-value-string"
          },
          {
            "$ref": "#/parameters/combo-code"
          },
          {
            "$ref": "#/parameters/combo-code-value-concept"
          },
          {
            "$ref": "#/parameters/combo-code-value-quantity"
          },
          {
            "$ref": "#/parameters/combo-data-absent-reason"
          },
          {
            "$ref": "#/parameters/combo-value-concept"
          },
          {
            "$ref": "#/parameters/combo-value-quantity"
          },
          {
            "$ref": "#/parameters/component-code"
          },
          {
            "$ref": "#/parameters/component-code-value-concept"
          },
          {
            "$ref": "#/parameters/component-code-value-quantity"
          },
          {
            "$ref": "#/parameters/component-data-absent-reason"
          },
          {
            "$ref": "#/parameters/component-value-concept"
          },
          {
            "$ref": "#/parameters/component-value-quantity"
          },
          {
            "$ref": "#/parameters/data-absent-reason"
          },
          {
            "$ref": "#/parameters/date"
          },
          {
            "$ref": "#/parameters/derived-from"
          },
          {
            "$ref": "#/parameters/device"
          },
          {
            "$ref": "#/parameters/encounter"
          },
          {
            "$ref": "#/parameters/focus"
          },
          {
            "$ref": "#/parameters/has-member"
          },
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "$ref": "#/parameters/method"
          },
          {
            "$ref": "#/parameters/part-of"
          },
          {
            "$ref": "#/parameters/patient"
          },
          {
            "$ref": "#/parameters/performer"
          },
          {
            "$ref": "#/parameters/specimen"
          },
          {
            "$ref": "#/parameters/status"
          },
          {
            "$ref": "#/parameters/subject"
          },
          {
            "$ref": "#/parameters/value-concept"
          },
          {
            "$ref": "#/parameters/value-date"
          },
          {
            "$ref": "#/parameters/value-quantity"
          },
          {
            "$ref": "#/parameters/value-string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Observation"
            }
          },
          "202": {
            "description": "ACCEPTED"
          },
          "204": {
            "description": "NO CONTENT"
          },
          "400": {
            "description": "BAD REQUEST",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "409": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Observation"
        ],
        "summary": "patch: Patch a Observation instance",
        "operationId": "PatchObservation",
        "consumes": [ ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Patch to apply to a FHIR Observation record",
            "required": true,
            "schema": { }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Observation"
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "412": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Observation"
        ],
        "summary": "read: Read a FHIR Observation",
        "operationId": "ReadObservation",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/_elements"
          },
          {
            "$ref": "#/parameters/_summary"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Observation"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Observation"
        ],
        "summary": "update,create: Update or Create a Observation instance",
        "operationId": "UpdateOrCreateObservation",
        "consumes": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "$ref": "#/parameters/_filter"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_in"
          },
          {
            "$ref": "#/parameters/_language"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_list"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_query"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/_text"
          },
          {
            "$ref": "#/parameters/_count"
          },
          {
            "$ref": "#/parameters/_format"
          },
          {
            "$ref": "#/parameters/_has"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/based-on"
          },
          {
            "$ref": "#/parameters/category"
          },
          {
            "$ref": "#/parameters/code"
          },
          {
            "$ref": "#/parameters/code-value-concept"
          },
          {
            "$ref": "#/parameters/code-value-date"
          },
          {
            "$ref": "#/parameters/code-value-quantity"
          },
          {
            "$ref": "#/parameters/code-value-string"
          },
          {
            "$ref": "#/parameters/combo-code"
          },
          {
            "$ref": "#/parameters/combo-code-value-concept"
          },
          {
            "$ref": "#/parameters/combo-code-value-quantity"
          },
          {
            "$ref": "#/parameters/combo-data-absent-reason"
          },
          {
            "$ref": "#/parameters/combo-value-concept"
          },
          {
            "$ref": "#/parameters/combo-value-quantity"
          },
          {
            "$ref": "#/parameters/component-code"
          },
          {
            "$ref": "#/parameters/component-code-value-concept"
          },
          {
            "$ref": "#/parameters/component-code-value-quantity"
          },
          {
            "$ref": "#/parameters/component-data-absent-reason"
          },
          {
            "$ref": "#/parameters/component-value-concept"
          },
          {
            "$ref": "#/parameters/component-value-quantity"
          },
          {
            "$ref": "#/parameters/data-absent-reason"
          },
          {
            "$ref": "#/parameters/date"
          },
          {
            "$ref": "#/parameters/derived-from"
          },
          {
            "$ref": "#/parameters/device"
          },
          {
            "$ref": "#/parameters/encounter"
          },
          {
            "$ref": "#/parameters/focus"
          },
          {
            "$ref": "#/parameters/has-member"
          },
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "$ref": "#/parameters/method"
          },
          {
            "$ref": "#/parameters/part-of"
          },
          {
            "$ref": "#/parameters/patient"
          },
          {
            "$ref": "#/parameters/performer"
          },
          {
            "$ref": "#/parameters/specimen"
          },
          {
            "$ref": "#/parameters/status"
          },
          {
            "$ref": "#/parameters/subject"
          },
          {
            "$ref": "#/parameters/value-concept"
          },
          {
            "$ref": "#/parameters/value-date"
          },
          {
            "$ref": "#/parameters/value-quantity"
          },
          {
            "$ref": "#/parameters/value-string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "An updated FHIR Observation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Observation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Observation"
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "409": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "412": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "422": {
            "description": "UNPROCESSABLE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/Observation/_search": {
      "post": {
        "tags": [
          "Observation"
        ],
        "summary": "search-type: Search for Observation instances",
        "operationId": "SearchObservationPost",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "_elements",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_summary",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_content",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_filter",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_id",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_in",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_language",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_lastUpdated",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_list",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_profile",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_query",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_security",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_source",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_tag",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_text",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_contained",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_count",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_graph",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_include",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_revinclude",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_score",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_sort",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_total",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_format",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_has",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "based-on",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "category",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "code",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "code-value-concept",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "code-value-date",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "code-value-quantity",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "code-value-string",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "combo-code",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "combo-code-value-concept",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "combo-code-value-quantity",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "combo-data-absent-reason",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "combo-value-concept",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "combo-value-quantity",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "component-code",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "component-code-value-concept",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "component-code-value-quantity",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "component-data-absent-reason",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "component-value-concept",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "component-value-quantity",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "data-absent-reason",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "date",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "derived-from",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "device",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "encounter",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "focus",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "has-member",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "identifier",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "method",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "part-of",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "patient",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "performer",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "specimen",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "status",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "subject",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "value-concept",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "value-date",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "value-quantity",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "value-string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bundle"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/Observation/{logical_id}/_history/{resource_version}": {
      "get": {
        "tags": [
          "Observation"
        ],
        "summary": "vread: Read Observation instance with specific version",
        "operationId": "VReadObservation",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/resource_version"
          },
          {
            "$ref": "#/parameters/_elements"
          },
          {
            "$ref": "#/parameters/_summary"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Observation"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    }
  },
  "definitions": {
    "Observation": {
      "description": "Measurements and simple assertions",
      "type": "object"
    },
    "OperationOutcome": {
      "description": "Information about the success/failure of an action",
      "type": "object"
    },
    "Bundle": {
      "description": "Contains a collection of resources",
      "type": "object"
    }
  },
  "parameters": {
    "_format": {
      "in": "query",
      "name": "_format",
      "description": "Override the HTTP content negotiation",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_pretty": {
      "in": "query",
      "name": "_pretty",
      "description": "Ask for a pretty printed response for human convenience",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_elements": {
      "in": "query",
      "name": "_elements",
      "description": "Ask for a particular set of elements to be returned",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_summary": {
      "in": "query",
      "name": "_summary",
      "description": "Return only portions of resources, based on pre-defined levels",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_content": {
      "in": "query",
      "name": "_content",
      "description": "Search on the entire content of the resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_filter": {
      "in": "query",
      "name": "_filter",
      "description": "Provide an inline query expression",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_id": {
      "in": "query",
      "name": "_id",
      "description": "Logical id of this artifact",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_in": {
      "in": "query",
      "name": "_in",
      "description": "Allows for the retrieval of resources that are active members of a CareTeam, Group, or List",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_language": {
      "in": "query",
      "name": "_language",
      "description": "Language of the resource content",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_lastUpdated": {
      "in": "query",
      "name": "_lastUpdated",
      "description": "When the resource version last changed",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_list": {
      "in": "query",
      "name": "_list",
      "description": "Allows for the retrieval of resources that are referenced by a List resource or by one of the pre-defined functional lists",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_profile": {
      "in": "query",
      "name": "_profile",
      "description": "Profiles this resource claims to conform to",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_query": {
      "in": "query",
      "name": "_query",
      "description": "A custom search profile that describes a specific defined query operation",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_security": {
      "in": "query",
      "name": "_security",
      "description": "Security Labels applied to this resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_source": {
      "in": "query",
      "name": "_source",
      "description": "Identifies where the resource comes from",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_tag": {
      "in": "query",
      "name": "_tag",
      "description": "Tags applied to this resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_text": {
      "in": "query",
      "name": "_text",
      "description": "Perform searches against the narrative content of a resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_contained": {
      "in": "query",
      "name": "_contained",
      "description": "Request different types of handling for contained resources",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_count": {
      "in": "query",
      "name": "_count",
      "description": "Limit the number of match results per page of response",
      "type": "number",
      "collectionFormat": "multi"
    },
    "_graph": {
      "in": "query",
      "name": "_graph",
      "description": "Include additional resources according to a GraphDefinition",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_include": {
      "in": "query",
      "name": "_include",
      "description": "Include additional resources, based on following links forward across references",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_revinclude": {
      "in": "query",
      "name": "_revinclude",
      "description": "Include additional resources, based on following reverse links across references",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_score": {
      "in": "query",
      "name": "_score",
      "description": "Request match relevance in results",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_sort": {
      "in": "query",
      "name": "_sort",
      "description": "Request which order results should be returned in",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_total": {
      "in": "query",
      "name": "_total",
      "description": "Request a precision of the total number of results for a request",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_has": {
      "in": "query",
      "name": "_has",
      "description": "Enables querying a reverse chain",
      "type": "string",
      "collectionFormat": "multi"
    },
    "based-on": {
      "in": "query",
      "name": "based-on",
      "description": "The service request this appointment is allocated to assess",
      "type": "string",
      "collectionFormat": "multi"
    },
    "category": {
      "in": "query",
      "name": "category",
      "description": "product-problem | product-quality | product-use-error | wrong-dose | incorrect-prescribing-information | wrong-technique | wrong-route-of-administration | wrong-rate | wrong-duration | wrong-time | expired-drug | medical-device-use-error | problem-different-manufacturer | unsafe-physical-environment",
      "type": "string",
      "collectionFormat": "multi"
    },
    "code": {
      "in": "query",
      "name": "code",
      "description": "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html): Code that identifies the allergy or intolerance\r\n* [Condition](condition.html): Code for the condition\r\n* [DeviceRequest](devicerequest.html): Code for what is being requested/ordered\r\n* [DiagnosticReport](diagnosticreport.html): The code for the report, as opposed to codes for the atomic results, which are the names on the observation resource referred to from the result\r\n* [FamilyMemberHistory](familymemberhistory.html): A search by a condition code\r\n* [List](list.html): What the purpose of this list is\r\n* [Medication](medication.html): Returns medications for a specific code\r\n* [MedicationAdministration](medicationadministration.html): Return administrations of this medication code\r\n* [MedicationDispense](medicationdispense.html): Returns dispenses of this medicine code\r\n* [MedicationRequest](medicationrequest.html): Return prescriptions of this medication code\r\n* [MedicationStatement](medicationstatement.html): Return statements of this medication code\r\n* [Observation](observation.html): The code of the observation type\r\n* [Procedure](procedure.html): A code to identify a  procedure\r\n* [ServiceRequest](servicerequest.html): What is being requested/ordered\r\n",
      "type": "string",
      "collectionFormat": "multi"
    },
    "code-value-concept": {
      "in": "query",
      "name": "code-value-concept",
      "description": "Code and coded value parameter pair",
      "type": "string",
      "collectionFormat": "multi"
    },
    "code-value-date": {
      "in": "query",
      "name": "code-value-date",
      "description": "Code and date/time value parameter pair",
      "type": "string",
      "collectionFormat": "multi"
    },
    "code-value-quantity": {
      "in": "query",
      "name": "code-value-quantity",
      "description": "Code and quantity value parameter pair",
      "type": "string",
      "collectionFormat": "multi"
    },
    "code-value-string": {
      "in": "query",
      "name": "code-value-string",
      "description": "Code and string value parameter pair",
      "type": "string",
      "collectionFormat": "multi"
    },
    "combo-code": {
      "in": "query",
      "name": "combo-code",
      "description": "The code of the observation type or component type",
      "type": "string",
      "collectionFormat": "multi"
    },
    "combo-code-value-concept": {
      "in": "query",
      "name": "combo-code-value-concept",
      "description": "Code and coded value parameter pair, including in components",
      "type": "string",
      "collectionFormat": "multi"
    },
    "combo-code-value-quantity": {
      "in": "query",
      "name": "combo-code-value-quantity",
      "description": "Code and quantity value parameter pair, including in components",
      "type": "string",
      "collectionFormat": "multi"
    },
    "combo-data-absent-reason": {
      "in": "query",
      "name": "combo-data-absent-reason",
      "description": "The reason why the expected value in the element Observation.value[x] or Observation.component.value[x] is missing.",
      "type": "string",
      "collectionFormat": "multi"
    },
    "combo-value-concept": {
      "in": "query",
      "name": "combo-value-concept",
      "description": "The value or component value of the observation, if the value is a CodeableConcept",
      "type": "string",
      "collectionFormat": "multi"
    },
    "combo-value-quantity": {
      "in": "query",
      "name": "combo-value-quantity",
      "description": "The value or component value of the observation, if the value is a Quantity, or a SampledData (just search on the bounds of the values in sampled data)",
      "type": "string",
      "collectionFormat": "multi"
    },
    "component-code": {
      "in": "query",
      "name": "component-code",
      "description": "The component code of the observation type",
      "type": "string",
      "collectionFormat": "multi"
    },
    "component-code-value-concept": {
      "in": "query",
      "name": "component-code-value-concept",
      "description": "Component code and component coded value parameter pair",
      "type": "string",
      "collectionFormat": "multi"
    },
    "component-code-value-quantity": {
      "in": "query",
      "name": "component-code-value-quantity",
      "description": "Component code and component quantity value parameter pair",
      "type": "string",
      "collectionFormat": "multi"
    },
    "component-data-absent-reason": {
      "in": "query",
      "name": "component-data-absent-reason",
      "description": "The reason why the expected value in the element Observation.component.value[x] is missing.",
      "type": "string",
      "collectionFormat": "multi"
    },
    "component-value-concept": {
      "in": "query",
      "name": "component-value-concept",
      "description": "The value of the component observation, if the value is a CodeableConcept",
      "type": "string",
      "collectionFormat": "multi"
    },
    "component-value-quantity": {
      "in": "query",
      "name": "component-value-quantity",
      "description": "The value of the component observation, if the value is a Quantity, or a SampledData (just search on the bounds of the values in sampled data)",
      "type": "string",
      "collectionFormat": "multi"
    },
    "data-absent-reason": {
      "in": "query",
      "name": "data-absent-reason",
      "description": "The reason why the expected value in the element Observation.value[x] is missing.",
      "type": "string",
      "collectionFormat": "multi"
    },
    "date": {
      "in": "query",
      "name": "date",
      "description": "The activity definition publication date",
      "type": "string",
      "collectionFormat": "multi"
    },
    "derived-from": {
      "in": "query",
      "name": "derived-from",
      "description": "What resource is being referenced",
      "type": "string",
      "collectionFormat": "multi"
    },
    "device": {
      "in": "query",
      "name": "device",
      "description": "Reference to resource that is being requested/ordered",
      "type": "string",
      "collectionFormat": "multi"
    },
    "encounter": {
      "in": "query",
      "name": "encounter",
      "description": "Encounter created as part of",
      "type": "string",
      "collectionFormat": "multi"
    },
    "focus": {
      "in": "query",
      "name": "focus",
      "description": "A resource that is a permitted focus of the message",
      "type": "string",
      "collectionFormat": "multi"
    },
    "has-member": {
      "in": "query",
      "name": "has-member",
      "description": "Related resource that belongs to the Observation group",
      "type": "string",
      "collectionFormat": "multi"
    },
    "identifier": {
      "in": "query",
      "name": "identifier",
      "description": "Account number",
      "type": "string",
      "collectionFormat": "multi"
    },
    "method": {
      "in": "query",
      "name": "method",
      "description": "The method used for the observation",
      "type": "string",
      "collectionFormat": "multi"
    },
    "part-of": {
      "in": "query",
      "name": "part-of",
      "description": "Part of referenced CarePlan",
      "type": "string",
      "collectionFormat": "multi"
    },
    "patient": {
      "in": "query",
      "name": "patient",
      "description": "The entity that caused the expenses",
      "type": "string",
      "collectionFormat": "multi"
    },
    "performer": {
      "in": "query",
      "name": "performer",
      "description": "Matches if the practitioner is listed as a performer in any of the \"simple\" activities.  (For performers of the detailed activities, chain through the activitydetail search parameter.)",
      "type": "string",
      "collectionFormat": "multi"
    },
    "specimen": {
      "in": "query",
      "name": "specimen",
      "description": "The specimen details",
      "type": "string",
      "collectionFormat": "multi"
    },
    "status": {
      "in": "query",
      "name": "status",
      "description": "active | inactive | entered-in-error | on-hold | unknown",
      "type": "string",
      "collectionFormat": "multi"
    },
    "subject": {
      "in": "query",
      "name": "subject",
      "description": "The entity that caused the expenses",
      "type": "string",
      "collectionFormat": "multi"
    },
    "value-concept": {
      "in": "query",
      "name": "value-concept",
      "description": "The value of the observation, if the value is a CodeableConcept",
      "type": "string",
      "collectionFormat": "multi"
    },
    "value-date": {
      "in": "query",
      "name": "value-date",
      "description": "The value of the observation, if the value is a date or period of time",
      "type": "string",
      "collectionFormat": "multi"
    },
    "value-quantity": {
      "in": "query",
      "name": "value-quantity",
      "description": "The value of the observation, if the value is a Quantity, or a SampledData (just search on the bounds of the values in sampled data)",
      "type": "string",
      "collectionFormat": "multi"
    },
    "value-string": {
      "in": "query",
      "name": "value-string",
      "description": "The value of the observation, if the value is a string, and also searches in CodeableConcept.text",
      "type": "string",
      "collectionFormat": "multi"
    },
    "logical_id": {
      "in": "path",
      "name": "logical_id",
      "description": "Resource Logical ID",
      "required": true,
      "type": "string"
    },
    "resource_version": {
      "in": "path",
      "name": "resource_version",
      "description": "Resource Version Number",
      "required": true,
      "type": "string"
    }
  },
  "tags": [
    {
      "name": "Observation",
      "description": "Measurements and simple assertions"
    }
  ]
}