{
  "swagger": "2.0",
  "info": {
    "title": "Firely Server - DocumentReference",
    "version": "4.10.0"
  },
  "host": "server.fire.ly",
  "schemes": [
    "http"
  ],
  "paths": {
    "/DocumentReference": {
      "post": {
        "tags": [
          "DocumentReference"
        ],
        "summary": "create: Create a new DocumentReference instance",
        "operationId": "CreateDocumentReference",
        "consumes": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "A FHIR DocumentReference",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentReference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentReference"
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "409": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "412": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "422": {
            "description": "UNPROCESSABLE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "get": {
        "tags": [
          "DocumentReference"
        ],
        "summary": "search-type: Search for DocumentReference instances",
        "operationId": "SearchDocumentReferenceGet",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/_elements"
          },
          {
            "$ref": "#/parameters/_summary"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "$ref": "#/parameters/_filter"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_in"
          },
          {
            "$ref": "#/parameters/_language"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_list"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_query"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/_text"
          },
          {
            "$ref": "#/parameters/_contained"
          },
          {
            "$ref": "#/parameters/_count"
          },
          {
            "$ref": "#/parameters/_graph"
          },
          {
            "$ref": "#/parameters/_include"
          },
          {
            "$ref": "#/parameters/_revinclude"
          },
          {
            "$ref": "#/parameters/_score"
          },
          {
            "$ref": "#/parameters/_sort"
          },
          {
            "$ref": "#/parameters/_total"
          },
          {
            "$ref": "#/parameters/_format"
          },
          {
            "$ref": "#/parameters/_has"
          },
          {
            "$ref": "#/parameters/authenticator"
          },
          {
            "$ref": "#/parameters/author"
          },
          {
            "$ref": "#/parameters/category"
          },
          {
            "$ref": "#/parameters/contenttype"
          },
          {
            "$ref": "#/parameters/custodian"
          },
          {
            "$ref": "#/parameters/date"
          },
          {
            "$ref": "#/parameters/description"
          },
          {
            "$ref": "#/parameters/encounter"
          },
          {
            "$ref": "#/parameters/event"
          },
          {
            "$ref": "#/parameters/facility"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "$ref": "#/parameters/language"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/patient"
          },
          {
            "$ref": "#/parameters/period"
          },
          {
            "$ref": "#/parameters/related"
          },
          {
            "$ref": "#/parameters/relatesto"
          },
          {
            "$ref": "#/parameters/relation"
          },
          {
            "$ref": "#/parameters/relationship"
          },
          {
            "$ref": "#/parameters/security-label"
          },
          {
            "$ref": "#/parameters/setting"
          },
          {
            "$ref": "#/parameters/status"
          },
          {
            "$ref": "#/parameters/subject"
          },
          {
            "$ref": "#/parameters/type"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bundle"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/DocumentReference/{logical_id}": {
      "delete": {
        "tags": [
          "DocumentReference"
        ],
        "summary": "delete: Perform a loical delete on a DocumentReference instance",
        "operationId": "DeleteDocumentReference",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "$ref": "#/parameters/_filter"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_in"
          },
          {
            "$ref": "#/parameters/_language"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_list"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_query"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/_text"
          },
          {
            "$ref": "#/parameters/_count"
          },
          {
            "$ref": "#/parameters/_format"
          },
          {
            "$ref": "#/parameters/_has"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/authenticator"
          },
          {
            "$ref": "#/parameters/author"
          },
          {
            "$ref": "#/parameters/category"
          },
          {
            "$ref": "#/parameters/contenttype"
          },
          {
            "$ref": "#/parameters/custodian"
          },
          {
            "$ref": "#/parameters/date"
          },
          {
            "$ref": "#/parameters/description"
          },
          {
            "$ref": "#/parameters/encounter"
          },
          {
            "$ref": "#/parameters/event"
          },
          {
            "$ref": "#/parameters/facility"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "$ref": "#/parameters/language"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/patient"
          },
          {
            "$ref": "#/parameters/period"
          },
          {
            "$ref": "#/parameters/related"
          },
          {
            "$ref": "#/parameters/relatesto"
          },
          {
            "$ref": "#/parameters/relation"
          },
          {
            "$ref": "#/parameters/relationship"
          },
          {
            "$ref": "#/parameters/security-label"
          },
          {
            "$ref": "#/parameters/setting"
          },
          {
            "$ref": "#/parameters/status"
          },
          {
            "$ref": "#/parameters/subject"
          },
          {
            "$ref": "#/parameters/type"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentReference"
            }
          },
          "202": {
            "description": "ACCEPTED"
          },
          "204": {
            "description": "NO CONTENT"
          },
          "400": {
            "description": "BAD REQUEST",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "409": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "DocumentReference"
        ],
        "summary": "patch: Patch a DocumentReference instance",
        "operationId": "PatchDocumentReference",
        "consumes": [ ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Patch to apply to a FHIR DocumentReference record",
            "required": true,
            "schema": { }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentReference"
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "412": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "get": {
        "tags": [
          "DocumentReference"
        ],
        "summary": "read: Read a FHIR DocumentReference",
        "operationId": "ReadDocumentReference",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/_elements"
          },
          {
            "$ref": "#/parameters/_summary"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentReference"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "put": {
        "tags": [
          "DocumentReference"
        ],
        "summary": "update,create: Update or Create a DocumentReference instance",
        "operationId": "UpdateOrCreateDocumentReference",
        "consumes": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "$ref": "#/parameters/_filter"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_in"
          },
          {
            "$ref": "#/parameters/_language"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_list"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_query"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/_text"
          },
          {
            "$ref": "#/parameters/_count"
          },
          {
            "$ref": "#/parameters/_format"
          },
          {
            "$ref": "#/parameters/_has"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/authenticator"
          },
          {
            "$ref": "#/parameters/author"
          },
          {
            "$ref": "#/parameters/category"
          },
          {
            "$ref": "#/parameters/contenttype"
          },
          {
            "$ref": "#/parameters/custodian"
          },
          {
            "$ref": "#/parameters/date"
          },
          {
            "$ref": "#/parameters/description"
          },
          {
            "$ref": "#/parameters/encounter"
          },
          {
            "$ref": "#/parameters/event"
          },
          {
            "$ref": "#/parameters/facility"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "$ref": "#/parameters/language"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/patient"
          },
          {
            "$ref": "#/parameters/period"
          },
          {
            "$ref": "#/parameters/related"
          },
          {
            "$ref": "#/parameters/relatesto"
          },
          {
            "$ref": "#/parameters/relation"
          },
          {
            "$ref": "#/parameters/relationship"
          },
          {
            "$ref": "#/parameters/security-label"
          },
          {
            "$ref": "#/parameters/setting"
          },
          {
            "$ref": "#/parameters/status"
          },
          {
            "$ref": "#/parameters/subject"
          },
          {
            "$ref": "#/parameters/type"
          },
          {
            "in": "body",
            "name": "body",
            "description": "An updated FHIR DocumentReference",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentReference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentReference"
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "401": {
            "description": "NOT AUTHORIZED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "409": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "412": {
            "description": "CONFLICT",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "422": {
            "description": "UNPROCESSABLE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/DocumentReference/_search": {
      "post": {
        "tags": [
          "DocumentReference"
        ],
        "summary": "search-type: Search for DocumentReference instances",
        "operationId": "SearchDocumentReferencePost",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "_elements",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_summary",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_content",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_filter",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_id",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_in",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_language",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_lastUpdated",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_list",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_profile",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_query",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_security",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_source",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_tag",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_text",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_contained",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_count",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_graph",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_include",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_revinclude",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_score",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_sort",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_total",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_format",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_has",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "authenticator",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "author",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "category",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "contenttype",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "custodian",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "date",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "description",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "encounter",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "event",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "facility",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "format",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "identifier",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "language",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "location",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "patient",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "period",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "related",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "relatesto",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "relation",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "relationship",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "security-label",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "setting",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "status",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "subject",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "type",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bundle"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/DocumentReference/{logical_id}/_history/{resource_version}": {
      "get": {
        "tags": [
          "DocumentReference"
        ],
        "summary": "vread: Read DocumentReference instance with specific version",
        "operationId": "VReadDocumentReference",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/resource_version"
          },
          {
            "$ref": "#/parameters/_elements"
          },
          {
            "$ref": "#/parameters/_summary"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentReference"
            }
          },
          "410": {
            "description": "GONE",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          },
          "404": {
            "description": "NOT FOUND",
            "schema": {
              "$ref": "#/definitions/OperationOutcome"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    }
  },
  "definitions": {
    "DocumentReference": {
      "description": "A reference to a document",
      "type": "object"
    },
    "OperationOutcome": {
      "description": "Information about the success/failure of an action",
      "type": "object"
    },
    "Bundle": {
      "description": "Contains a collection of resources",
      "type": "object"
    }
  },
  "parameters": {
    "_format": {
      "in": "query",
      "name": "_format",
      "description": "Override the HTTP content negotiation",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_pretty": {
      "in": "query",
      "name": "_pretty",
      "description": "Ask for a pretty printed response for human convenience",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_elements": {
      "in": "query",
      "name": "_elements",
      "description": "Ask for a particular set of elements to be returned",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_summary": {
      "in": "query",
      "name": "_summary",
      "description": "Return only portions of resources, based on pre-defined levels",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_content": {
      "in": "query",
      "name": "_content",
      "description": "Search on the entire content of the resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_filter": {
      "in": "query",
      "name": "_filter",
      "description": "Provide an inline query expression",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_id": {
      "in": "query",
      "name": "_id",
      "description": "Logical id of this artifact",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_in": {
      "in": "query",
      "name": "_in",
      "description": "Allows for the retrieval of resources that are active members of a CareTeam, Group, or List",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_language": {
      "in": "query",
      "name": "_language",
      "description": "Language of the resource content",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_lastUpdated": {
      "in": "query",
      "name": "_lastUpdated",
      "description": "When the resource version last changed",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_list": {
      "in": "query",
      "name": "_list",
      "description": "Allows for the retrieval of resources that are referenced by a List resource or by one of the pre-defined functional lists",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_profile": {
      "in": "query",
      "name": "_profile",
      "description": "Profiles this resource claims to conform to",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_query": {
      "in": "query",
      "name": "_query",
      "description": "A custom search profile that describes a specific defined query operation",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_security": {
      "in": "query",
      "name": "_security",
      "description": "Security Labels applied to this resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_source": {
      "in": "query",
      "name": "_source",
      "description": "Identifies where the resource comes from",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_tag": {
      "in": "query",
      "name": "_tag",
      "description": "Tags applied to this resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_text": {
      "in": "query",
      "name": "_text",
      "description": "Perform searches against the narrative content of a resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_contained": {
      "in": "query",
      "name": "_contained",
      "description": "Request different types of handling for contained resources",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_count": {
      "in": "query",
      "name": "_count",
      "description": "Limit the number of match results per page of response",
      "type": "number",
      "collectionFormat": "multi"
    },
    "_graph": {
      "in": "query",
      "name": "_graph",
      "description": "Include additional resources according to a GraphDefinition",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_include": {
      "in": "query",
      "name": "_include",
      "description": "Include additional resources, based on following links forward across references",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_revinclude": {
      "in": "query",
      "name": "_revinclude",
      "description": "Include additional resources, based on following reverse links across references",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_score": {
      "in": "query",
      "name": "_score",
      "description": "Request match relevance in results",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_sort": {
      "in": "query",
      "name": "_sort",
      "description": "Request which order results should be returned in",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_total": {
      "in": "query",
      "name": "_total",
      "description": "Request a precision of the total number of results for a request",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_has": {
      "in": "query",
      "name": "_has",
      "description": "Enables querying a reverse chain",
      "type": "string",
      "collectionFormat": "multi"
    },
    "authenticator": {
      "in": "query",
      "name": "authenticator",
      "description": "Who/what authenticated the document",
      "type": "string",
      "collectionFormat": "multi"
    },
    "author": {
      "in": "query",
      "name": "author",
      "description": "Who created",
      "type": "string",
      "collectionFormat": "multi"
    },
    "category": {
      "in": "query",
      "name": "category",
      "description": "product-problem | product-quality | product-use-error | wrong-dose | incorrect-prescribing-information | wrong-technique | wrong-route-of-administration | wrong-rate | wrong-duration | wrong-time | expired-drug | medical-device-use-error | problem-different-manufacturer | unsafe-physical-environment",
      "type": "string",
      "collectionFormat": "multi"
    },
    "contenttype": {
      "in": "query",
      "name": "contenttype",
      "description": "Mime type of the content, with charset etc.",
      "type": "string",
      "collectionFormat": "multi"
    },
    "custodian": {
      "in": "query",
      "name": "custodian",
      "description": "Organization which maintains the document",
      "type": "string",
      "collectionFormat": "multi"
    },
    "date": {
      "in": "query",
      "name": "date",
      "description": "The activity definition publication date",
      "type": "string",
      "collectionFormat": "multi"
    },
    "description": {
      "in": "query",
      "name": "description",
      "description": "The description of the activity definition",
      "type": "string",
      "collectionFormat": "multi"
    },
    "encounter": {
      "in": "query",
      "name": "encounter",
      "description": "Encounter created as part of",
      "type": "string",
      "collectionFormat": "multi"
    },
    "event": {
      "in": "query",
      "name": "event",
      "description": "Type of the event itself in relation to the subject",
      "type": "string",
      "collectionFormat": "multi"
    },
    "facility": {
      "in": "query",
      "name": "facility",
      "description": "Facility where the products or services have been or will be provided",
      "type": "string",
      "collectionFormat": "multi"
    },
    "format": {
      "in": "query",
      "name": "format",
      "description": "formats supported (xml | json | ttl | mime type)",
      "type": "string",
      "collectionFormat": "multi"
    },
    "identifier": {
      "in": "query",
      "name": "identifier",
      "description": "Account number",
      "type": "string",
      "collectionFormat": "multi"
    },
    "language": {
      "in": "query",
      "name": "language",
      "description": "A language in which a designation is provided",
      "type": "string",
      "collectionFormat": "multi"
    },
    "location": {
      "in": "query",
      "name": "location",
      "description": "Location where adverse event occurred",
      "type": "string",
      "collectionFormat": "multi"
    },
    "patient": {
      "in": "query",
      "name": "patient",
      "description": "The entity that caused the expenses",
      "type": "string",
      "collectionFormat": "multi"
    },
    "period": {
      "in": "query",
      "name": "period",
      "description": "Transaction window",
      "type": "string",
      "collectionFormat": "multi"
    },
    "related": {
      "in": "query",
      "name": "related",
      "description": "Related identifiers or resources",
      "type": "string",
      "collectionFormat": "multi"
    },
    "relatesto": {
      "in": "query",
      "name": "relatesto",
      "description": "Target of the relationship",
      "type": "string",
      "collectionFormat": "multi"
    },
    "relation": {
      "in": "query",
      "name": "relation",
      "description": "replaces | transforms | signs | appends",
      "type": "string",
      "collectionFormat": "multi"
    },
    "relationship": {
      "in": "query",
      "name": "relationship",
      "description": "Combination of relation and relatesTo",
      "type": "string",
      "collectionFormat": "multi"
    },
    "security-label": {
      "in": "query",
      "name": "security-label",
      "description": "Security Labels that define affected resources",
      "type": "string",
      "collectionFormat": "multi"
    },
    "setting": {
      "in": "query",
      "name": "setting",
      "description": "Additional details about where the content was created (e.g. clinical specialty)",
      "type": "string",
      "collectionFormat": "multi"
    },
    "status": {
      "in": "query",
      "name": "status",
      "description": "active | inactive | entered-in-error | on-hold | unknown",
      "type": "string",
      "collectionFormat": "multi"
    },
    "subject": {
      "in": "query",
      "name": "subject",
      "description": "The entity that caused the expenses",
      "type": "string",
      "collectionFormat": "multi"
    },
    "type": {
      "in": "query",
      "name": "type",
      "description": "E.g. patient, expense, depreciation",
      "type": "string",
      "collectionFormat": "multi"
    },
    "logical_id": {
      "in": "path",
      "name": "logical_id",
      "description": "Resource Logical ID",
      "required": true,
      "type": "string"
    },
    "resource_version": {
      "in": "path",
      "name": "resource_version",
      "description": "Resource Version Number",
      "required": true,
      "type": "string"
    }
  },
  "tags": [
    {
      "name": "DocumentReference",
      "description": "A reference to a document"
    }
  ]
}