{
  "swagger": "2.0",
  "info": {
    "title": "Firely Server - AuditEvent",
    "version": "4.10.0"
  },
  "host": "server.fire.ly",
  "schemes": [
    "http"
  ],
  "paths": {
    "/AuditEvent": {
      "post": {
        "tags": [
          "AuditEvent"
        ],
        "summary": "create: Create a new AuditEvent instance",
        "operationId": "CreateAuditEvent",
        "consumes": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "A FHIR AuditEvent",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuditEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuditEvent"
            }
          }
        }
      },
      "get": {
        "tags": [
          "AuditEvent"
        ],
        "summary": "search-type: Search for AuditEvent instances",
        "operationId": "SearchAuditEventGet",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/_elements"
          },
          {
            "$ref": "#/parameters/_summary"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "$ref": "#/parameters/_filter"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_in"
          },
          {
            "$ref": "#/parameters/_language"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_list"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_query"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/_text"
          },
          {
            "$ref": "#/parameters/_contained"
          },
          {
            "$ref": "#/parameters/_count"
          },
          {
            "$ref": "#/parameters/_graph"
          },
          {
            "$ref": "#/parameters/_include"
          },
          {
            "$ref": "#/parameters/_revinclude"
          },
          {
            "$ref": "#/parameters/_score"
          },
          {
            "$ref": "#/parameters/_sort"
          },
          {
            "$ref": "#/parameters/_total"
          },
          {
            "$ref": "#/parameters/_format"
          },
          {
            "$ref": "#/parameters/_has"
          },
          {
            "$ref": "#/parameters/action"
          },
          {
            "$ref": "#/parameters/address"
          },
          {
            "$ref": "#/parameters/agent"
          },
          {
            "$ref": "#/parameters/agent-name"
          },
          {
            "$ref": "#/parameters/agent-role"
          },
          {
            "$ref": "#/parameters/altid"
          },
          {
            "$ref": "#/parameters/date"
          },
          {
            "$ref": "#/parameters/entity"
          },
          {
            "$ref": "#/parameters/entity-name"
          },
          {
            "$ref": "#/parameters/entity-role"
          },
          {
            "$ref": "#/parameters/entity-type"
          },
          {
            "$ref": "#/parameters/outcome"
          },
          {
            "$ref": "#/parameters/patient"
          },
          {
            "$ref": "#/parameters/policy"
          },
          {
            "$ref": "#/parameters/site"
          },
          {
            "$ref": "#/parameters/source"
          },
          {
            "$ref": "#/parameters/subtype"
          },
          {
            "$ref": "#/parameters/type"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bundle"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/AuditEvent/{logical_id}": {
      "delete": {
        "tags": [
          "AuditEvent"
        ],
        "summary": "delete: Perform a loical delete on a AuditEvent instance",
        "operationId": "DeleteAuditEvent",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "$ref": "#/parameters/_filter"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_in"
          },
          {
            "$ref": "#/parameters/_language"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_list"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_query"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/_text"
          },
          {
            "$ref": "#/parameters/_count"
          },
          {
            "$ref": "#/parameters/_format"
          },
          {
            "$ref": "#/parameters/_has"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/action"
          },
          {
            "$ref": "#/parameters/address"
          },
          {
            "$ref": "#/parameters/agent"
          },
          {
            "$ref": "#/parameters/agent-name"
          },
          {
            "$ref": "#/parameters/agent-role"
          },
          {
            "$ref": "#/parameters/altid"
          },
          {
            "$ref": "#/parameters/date"
          },
          {
            "$ref": "#/parameters/entity"
          },
          {
            "$ref": "#/parameters/entity-name"
          },
          {
            "$ref": "#/parameters/entity-role"
          },
          {
            "$ref": "#/parameters/entity-type"
          },
          {
            "$ref": "#/parameters/outcome"
          },
          {
            "$ref": "#/parameters/patient"
          },
          {
            "$ref": "#/parameters/policy"
          },
          {
            "$ref": "#/parameters/site"
          },
          {
            "$ref": "#/parameters/source"
          },
          {
            "$ref": "#/parameters/subtype"
          },
          {
            "$ref": "#/parameters/type"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuditEvent"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AuditEvent"
        ],
        "summary": "patch: Patch a AuditEvent instance",
        "operationId": "PatchAuditEvent",
        "consumes": [ ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Patch to apply to a FHIR AuditEvent record",
            "required": true,
            "schema": { }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuditEvent"
            }
          }
        }
      },
      "get": {
        "tags": [
          "AuditEvent"
        ],
        "summary": "read: Read a FHIR AuditEvent",
        "operationId": "ReadAuditEvent",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/_elements"
          },
          {
            "$ref": "#/parameters/_summary"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuditEvent"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AuditEvent"
        ],
        "summary": "update,create: Update or Create a AuditEvent instance",
        "operationId": "UpdateOrCreateAuditEvent",
        "consumes": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "$ref": "#/parameters/_filter"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_in"
          },
          {
            "$ref": "#/parameters/_language"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_list"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_query"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/_text"
          },
          {
            "$ref": "#/parameters/_count"
          },
          {
            "$ref": "#/parameters/_format"
          },
          {
            "$ref": "#/parameters/_has"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "$ref": "#/parameters/action"
          },
          {
            "$ref": "#/parameters/address"
          },
          {
            "$ref": "#/parameters/agent"
          },
          {
            "$ref": "#/parameters/agent-name"
          },
          {
            "$ref": "#/parameters/agent-role"
          },
          {
            "$ref": "#/parameters/altid"
          },
          {
            "$ref": "#/parameters/date"
          },
          {
            "$ref": "#/parameters/entity"
          },
          {
            "$ref": "#/parameters/entity-name"
          },
          {
            "$ref": "#/parameters/entity-role"
          },
          {
            "$ref": "#/parameters/entity-type"
          },
          {
            "$ref": "#/parameters/outcome"
          },
          {
            "$ref": "#/parameters/patient"
          },
          {
            "$ref": "#/parameters/policy"
          },
          {
            "$ref": "#/parameters/site"
          },
          {
            "$ref": "#/parameters/source"
          },
          {
            "$ref": "#/parameters/subtype"
          },
          {
            "$ref": "#/parameters/type"
          },
          {
            "in": "body",
            "name": "body",
            "description": "An updated FHIR AuditEvent",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuditEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuditEvent"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/AuditEvent/_search": {
      "post": {
        "tags": [
          "AuditEvent"
        ],
        "summary": "search-type: Search for AuditEvent instances",
        "operationId": "SearchAuditEventPost",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "_elements",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_summary",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_content",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_filter",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_id",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_in",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_language",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_lastUpdated",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_list",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_profile",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_query",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_security",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_source",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_tag",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_text",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_contained",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_count",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_graph",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_include",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_revinclude",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_score",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_sort",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_total",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_format",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_has",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "action",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "address",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "agent",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "agent-name",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "agent-role",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "altid",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "date",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "entity",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "entity-name",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "entity-role",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "entity-type",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "outcome",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "patient",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "policy",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "site",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "source",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "subtype",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "type",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bundle"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    },
    "/AuditEvent/{logical_id}/_history/{resource_version}": {
      "get": {
        "tags": [
          "AuditEvent"
        ],
        "summary": "vread: Read AuditEvent instance with specific version",
        "operationId": "VReadAuditEvent",
        "produces": [
          "application/fhir+json",
          "application/fhir+xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/logical_id"
          },
          {
            "$ref": "#/parameters/resource_version"
          },
          {
            "$ref": "#/parameters/_elements"
          },
          {
            "$ref": "#/parameters/_summary"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuditEvent"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        }
      ]
    }
  },
  "definitions": {
    "AuditEvent": {
      "description": "Event record kept for security purposes",
      "type": "object"
    },
    "Bundle": {
      "description": "Contains a collection of resources",
      "type": "object"
    }
  },
  "parameters": {
    "_format": {
      "in": "query",
      "name": "_format",
      "description": "Override the HTTP content negotiation",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_pretty": {
      "in": "query",
      "name": "_pretty",
      "description": "Ask for a pretty printed response for human convenience",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_elements": {
      "in": "query",
      "name": "_elements",
      "description": "Ask for a particular set of elements to be returned",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_summary": {
      "in": "query",
      "name": "_summary",
      "description": "Return only portions of resources, based on pre-defined levels",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_content": {
      "in": "query",
      "name": "_content",
      "description": "Search on the entire content of the resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_filter": {
      "in": "query",
      "name": "_filter",
      "description": "Provide an inline query expression",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_id": {
      "in": "query",
      "name": "_id",
      "description": "Logical id of this artifact",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_in": {
      "in": "query",
      "name": "_in",
      "description": "Allows for the retrieval of resources that are active members of a CareTeam, Group, or List",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_language": {
      "in": "query",
      "name": "_language",
      "description": "Language of the resource content",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_lastUpdated": {
      "in": "query",
      "name": "_lastUpdated",
      "description": "When the resource version last changed",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_list": {
      "in": "query",
      "name": "_list",
      "description": "Allows for the retrieval of resources that are referenced by a List resource or by one of the pre-defined functional lists",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_profile": {
      "in": "query",
      "name": "_profile",
      "description": "Profiles this resource claims to conform to",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_query": {
      "in": "query",
      "name": "_query",
      "description": "A custom search profile that describes a specific defined query operation",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_security": {
      "in": "query",
      "name": "_security",
      "description": "Security Labels applied to this resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_source": {
      "in": "query",
      "name": "_source",
      "description": "Identifies where the resource comes from",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_tag": {
      "in": "query",
      "name": "_tag",
      "description": "Tags applied to this resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_text": {
      "in": "query",
      "name": "_text",
      "description": "Perform searches against the narrative content of a resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_contained": {
      "in": "query",
      "name": "_contained",
      "description": "Request different types of handling for contained resources",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_count": {
      "in": "query",
      "name": "_count",
      "description": "Limit the number of match results per page of response",
      "type": "number",
      "collectionFormat": "multi"
    },
    "_graph": {
      "in": "query",
      "name": "_graph",
      "description": "Include additional resources according to a GraphDefinition",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_include": {
      "in": "query",
      "name": "_include",
      "description": "Include additional resources, based on following links forward across references",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_revinclude": {
      "in": "query",
      "name": "_revinclude",
      "description": "Include additional resources, based on following reverse links across references",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_score": {
      "in": "query",
      "name": "_score",
      "description": "Request match relevance in results",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_sort": {
      "in": "query",
      "name": "_sort",
      "description": "Request which order results should be returned in",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_total": {
      "in": "query",
      "name": "_total",
      "description": "Request a precision of the total number of results for a request",
      "type": "string",
      "collectionFormat": "multi"
    },
    "_has": {
      "in": "query",
      "name": "_has",
      "description": "Enables querying a reverse chain",
      "type": "string",
      "collectionFormat": "multi"
    },
    "action": {
      "in": "query",
      "name": "action",
      "description": "Type of action performed during the event",
      "type": "string",
      "collectionFormat": "multi"
    },
    "address": {
      "in": "query",
      "name": "address",
      "description": "Identifier for the network access point of the user device",
      "type": "string",
      "collectionFormat": "multi"
    },
    "agent": {
      "in": "query",
      "name": "agent",
      "description": "Identifier of who",
      "type": "string",
      "collectionFormat": "multi"
    },
    "agent-name": {
      "in": "query",
      "name": "agent-name",
      "description": "Human friendly name for the agent",
      "type": "string",
      "collectionFormat": "multi"
    },
    "agent-role": {
      "in": "query",
      "name": "agent-role",
      "description": "Agent role in the event",
      "type": "string",
      "collectionFormat": "multi"
    },
    "altid": {
      "in": "query",
      "name": "altid",
      "description": "Alternative User identity",
      "type": "string",
      "collectionFormat": "multi"
    },
    "date": {
      "in": "query",
      "name": "date",
      "description": "The activity definition publication date",
      "type": "string",
      "collectionFormat": "multi"
    },
    "entity": {
      "in": "query",
      "name": "entity",
      "description": "Specific instance of resource",
      "type": "string",
      "collectionFormat": "multi"
    },
    "entity-name": {
      "in": "query",
      "name": "entity-name",
      "description": "Descriptor for entity",
      "type": "string",
      "collectionFormat": "multi"
    },
    "entity-role": {
      "in": "query",
      "name": "entity-role",
      "description": "What role the entity played",
      "type": "string",
      "collectionFormat": "multi"
    },
    "entity-type": {
      "in": "query",
      "name": "entity-type",
      "description": "Type of entity involved",
      "type": "string",
      "collectionFormat": "multi"
    },
    "outcome": {
      "in": "query",
      "name": "outcome",
      "description": "Whether the event succeeded or failed",
      "type": "string",
      "collectionFormat": "multi"
    },
    "patient": {
      "in": "query",
      "name": "patient",
      "description": "The entity that caused the expenses",
      "type": "string",
      "collectionFormat": "multi"
    },
    "policy": {
      "in": "query",
      "name": "policy",
      "description": "Policy that authorized event",
      "type": "string",
      "collectionFormat": "multi"
    },
    "site": {
      "in": "query",
      "name": "site",
      "description": "Logical source location within the enterprise",
      "type": "string",
      "collectionFormat": "multi"
    },
    "source": {
      "in": "query",
      "name": "source",
      "description": "The identity of source detecting the event",
      "type": "string",
      "collectionFormat": "multi"
    },
    "subtype": {
      "in": "query",
      "name": "subtype",
      "description": "More specific type/id for the event",
      "type": "string",
      "collectionFormat": "multi"
    },
    "type": {
      "in": "query",
      "name": "type",
      "description": "E.g. patient, expense, depreciation",
      "type": "string",
      "collectionFormat": "multi"
    },
    "logical_id": {
      "in": "path",
      "name": "logical_id",
      "description": "Resource Logical ID",
      "required": true,
      "type": "string"
    },
    "resource_version": {
      "in": "path",
      "name": "resource_version",
      "description": "Resource Version Number",
      "required": true,
      "type": "string"
    }
  },
  "tags": [
    {
      "name": "AuditEvent",
      "description": "Event record kept for security purposes"
    }
  ]
}