{
  "swagger": "2.0",
  "info": {
    "title": "FHIR R4:4.0.1",
    "version": "1.0.0"
  },
  "host": "hapi.fhir.org",
  "basePath": "/baseR4/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/Account/{id}/_history/{vid}": {
      "get": {
        "summary": "VRead a Account instance",
        "description": "VRead a Account instance",
        "operationId": "VReadAccount",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          },
          {
            "$ref": "#/parameters/vid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/Account/{id}": {
      "get": {
        "summary": "Read a Account instance",
        "description": "Read a Account instance",
        "operationId": "ReadAccount",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/Account": {
      "get": {
        "summary": "Search Accounts",
        "description": "Search across all Account instances",
        "operationId": "SearchGetAccount",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "owner",
            "description": "Entity managing the Account",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "identifier",
            "description": "Account number",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "period",
            "description": "Transaction window",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "subject",
            "description": "The entity that caused the expenses",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "in": "query",
            "name": "type",
            "description": "E.g. patient, expense, depreciation",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "_filter",
            "description": "Search the contents of the resource's data using a filter",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "in": "query",
            "name": "patient",
            "description": "The entity that caused the expenses",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "in": "query",
            "name": "_has",
            "description": "Return resources linked to by the given target",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "name",
            "description": "Human-readable label",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "in": "query",
            "name": "_text",
            "description": "Search on the narrative of the resource",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "in": "query",
            "name": "status",
            "description": "active | inactive | entered-in-error | on-hold | unknown",
            "type": "string",
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/Account/_search": {
      "post": {
        "summary": "Search Accounts",
        "description": "Search across all Account instances",
        "operationId": "SearchPostAccount",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "owner",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "identifier",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "period",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "subject",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_lastUpdated",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_security",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "type",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_filter",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_profile",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "patient",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_tag",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_has",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "name",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_source",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_id",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_text",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_content",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "status",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/ActivityDefinition/{id}/_history/{vid}": {
      "get": {
        "summary": "VRead a ActivityDefinition instance",
        "description": "VRead a ActivityDefinition instance",
        "operationId": "VReadActivityDefinition",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          },
          {
            "$ref": "#/parameters/vid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActivityDefinition"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/ActivityDefinition/{id}": {
      "get": {
        "summary": "Read a ActivityDefinition instance",
        "description": "Read a ActivityDefinition instance",
        "operationId": "ReadActivityDefinition",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActivityDefinition"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/ActivityDefinition": {
      "get": {
        "summary": "Search ActivityDefinitions",
        "description": "Search across all ActivityDefinition instances",
        "operationId": "SearchGetActivityDefinition",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "description": "The activity definition publication date",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "successor",
            "description": "What resource is being referenced",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "context-type-value",
            "description": "A use context type and value assigned to the activity definition",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "in": "query",
            "name": "jurisdiction",
            "description": "Intended jurisdiction for the activity definition",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "derived-from",
            "description": "What resource is being referenced",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "description",
            "description": "The description of the activity definition",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "context-type",
            "description": "A type of use context assigned to the activity definition",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "predecessor",
            "description": "What resource is being referenced",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "composed-of",
            "description": "What resource is being referenced",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "title",
            "description": "The human-friendly name of the activity definition",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "context-quantity",
            "description": "A quantity- or range-valued use context assigned to the activity definition",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "depends-on",
            "description": "What resource is being referenced",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "effective",
            "description": "The time during which the activity definition is intended to be in use",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "context",
            "description": "A use context assigned to the activity definition",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "context-type-quantity",
            "description": "A use context type and quantity- or range-based value assigned to the activity definition",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "identifier",
            "description": "External identifier for the activity definition",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "in": "query",
            "name": "version",
            "description": "The business version of the activity definition",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "url",
            "description": "The uri that identifies the activity definition",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "_filter",
            "description": "Search the contents of the resource's data using a filter",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "in": "query",
            "name": "_has",
            "description": "Return resources linked to by the given target",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "name",
            "description": "Computationally friendly name of the activity definition",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "publisher",
            "description": "Name of the publisher of the activity definition",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "topic",
            "description": "Topics associated with the module",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "in": "query",
            "name": "_text",
            "description": "Search on the narrative of the resource",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "in": "query",
            "name": "status",
            "description": "The current status of the activity definition",
            "type": "string",
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActivityDefinition"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/ActivityDefinition/_search": {
      "post": {
        "summary": "Search ActivityDefinitions",
        "description": "Search across all ActivityDefinition instances",
        "operationId": "SearchPostActivityDefinition",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "date",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "successor",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "context-type-value",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_lastUpdated",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "jurisdiction",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "derived-from",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "description",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "context-type",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "predecessor",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "composed-of",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "title",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "context-quantity",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "depends-on",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "effective",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "context",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "context-type-quantity",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "identifier",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_security",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "version",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "url",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_filter",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_profile",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_tag",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_has",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "name",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "publisher",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "topic",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_source",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_id",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_text",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_content",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "status",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActivityDefinition"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/AdverseEvent/{id}/_history/{vid}": {
      "get": {
        "summary": "VRead a AdverseEvent instance",
        "description": "VRead a AdverseEvent instance",
        "operationId": "VReadAdverseEvent",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          },
          {
            "$ref": "#/parameters/vid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdverseEvent"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/AdverseEvent/{id}": {
      "get": {
        "summary": "Read a AdverseEvent instance",
        "description": "Read a AdverseEvent instance",
        "operationId": "ReadAdverseEvent",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdverseEvent"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/AdverseEvent": {
      "get": {
        "summary": "Search AdverseEvents",
        "description": "Search across all AdverseEvent instances",
        "operationId": "SearchGetAdverseEvent",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "description": "When the event occurred",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "severity",
            "description": "mild | moderate | severe",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "recorder",
            "description": "Who recorded the adverse event",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "study",
            "description": "AdverseEvent.study",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "actuality",
            "description": "actual | potential",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "subject",
            "description": "Subject impacted by event",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "in": "query",
            "name": "resultingcondition",
            "description": "Effect on the subject due to this event",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "substance",
            "description": "Refers to the specific entity that caused the adverse event",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "in": "query",
            "name": "_filter",
            "description": "Search the contents of the resource's data using a filter",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "in": "query",
            "name": "seriousness",
            "description": "Seriousness of the event",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "in": "query",
            "name": "_has",
            "description": "Return resources linked to by the given target",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "in": "query",
            "name": "location",
            "description": "Location where adverse event occurred",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "in": "query",
            "name": "_text",
            "description": "Search on the narrative of the resource",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "in": "query",
            "name": "category",
            "description": "product-problem | product-quality | product-use-error | wrong-dose | incorrect-prescribing-information | wrong-technique | wrong-route-of-administration | wrong-rate | wrong-duration | wrong-time | expired-drug | medical-device-use-error | problem-different-manufacturer | unsafe-physical-environment",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "event",
            "description": "Type of the event itself in relation to the subject",
            "type": "string",
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdverseEvent"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/AdverseEvent/_search": {
      "post": {
        "summary": "Search AdverseEvents",
        "description": "Search across all AdverseEvent instances",
        "operationId": "SearchPostAdverseEvent",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "date",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "severity",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "recorder",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "study",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "actuality",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "subject",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_lastUpdated",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "resultingcondition",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "substance",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_security",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_filter",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_profile",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "seriousness",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_tag",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_has",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_source",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "location",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_id",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_text",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_content",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "category",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "event",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdverseEvent"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/AllergyIntolerance/{id}/_history/{vid}": {
      "get": {
        "summary": "VRead a AllergyIntolerance instance",
        "description": "VRead a AllergyIntolerance instance",
        "operationId": "VReadAllergyIntolerance",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          },
          {
            "$ref": "#/parameters/vid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AllergyIntolerance"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/AllergyIntolerance/{id}": {
      "get": {
        "summary": "Read a AllergyIntolerance instance",
        "description": "Read a AllergyIntolerance instance",
        "operationId": "ReadAllergyIntolerance",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AllergyIntolerance"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/AllergyIntolerance": {
      "get": {
        "summary": "Search AllergyIntolerances",
        "description": "Search across all AllergyIntolerance instances",
        "operationId": "SearchGetAllergyIntolerance",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "description": "Multiple Resources: * [AllergyIntolerance](allergyintolerance.html): Date first version of the resource instance was recorded* [CarePlan](careplan.html): Time period plan covers* [CareTeam](careteam.html): Time period team covers* [ClinicalImpression](clinicalimpression.html): When the assessment was documented* [Composition](composition.html): Composition editing time* [Consent](consent.html): When this Consent was created or indexed* [DiagnosticReport](diagnosticreport.html): The clinically relevant time of the report* [Encounter](encounter.html): A date within the period the Encounter lasted* [EpisodeOfCare](episodeofcare.html): The provided date search value falls within the episode of care's period* [FamilyMemberHistory](familymemberhistory.html): When history was recorded or last updated* [Flag](flag.html): Time period when flag is active* [Immunization](immunization.html): Vaccination  (non)-Administration Date* [List](list.html): When the list was prepared* [Observation](observation.html): Obtained date/time. If the obtained element is a period, a date that falls in the period* [Procedure](procedure.html): When the procedure was performed* [RiskAssessment](riskassessment.html): When was assessment made?* [SupplyRequest](supplyrequest.html): When the request was made",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "code",
            "description": "Multiple Resources: * [AllergyIntolerance](allergyintolerance.html): Code that identifies the allergy or intolerance* [Condition](condition.html): Code for the condition* [DeviceRequest](devicerequest.html): Code for what is being requested/ordered* [DiagnosticReport](diagnosticreport.html): The code for the report, as opposed to codes for the atomic results, which are the names on the observation resource referred to from the result* [FamilyMemberHistory](familymemberhistory.html): A search by a condition code* [List](list.html): What the purpose of this list is* [Medication](medication.html): Returns medications for a specific code* [MedicationAdministration](medicationadministration.html): Return administrations of this medication code* [MedicationDispense](medicationdispense.html): Returns dispenses of this medicine code* [MedicationRequest](medicationrequest.html): Return prescriptions of this medication code* [MedicationStatement](medicationstatement.html): Return statements of this medication code* [Observation](observation.html): The code of the observation type* [Procedure](procedure.html): A code to identify a  procedure* [ServiceRequest](servicerequest.html): What is being requested/ordered",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "in": "query",
            "name": "verification-status",
            "description": "unconfirmed | confirmed | refuted | entered-in-error",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "criticality",
            "description": "low | high | unable-to-assess",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "clinical-status",
            "description": "active | inactive | resolved",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "type",
            "description": "Multiple Resources: * [AllergyIntolerance](allergyintolerance.html): allergy | intolerance - Underlying mechanism (if known)* [Composition](composition.html): Kind of composition (LOINC if possible)* [DocumentManifest](documentmanifest.html): Kind of document set* [DocumentReference](documentreference.html): Kind of document (LOINC if possible)* [Encounter](encounter.html): Specific type of encounter* [EpisodeOfCare](episodeofcare.html): Type/class  - e.g. specialist referral, disease management",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "patient",
            "description": "Multiple Resources: * [AllergyIntolerance](allergyintolerance.html): Who the sensitivity is for* [CarePlan](careplan.html): Who the care plan is for* [CareTeam](careteam.html): Who care team is for* [ClinicalImpression](clinicalimpression.html): Patient or group assessed* [Composition](composition.html): Who and/or what the composition is about* [Condition](condition.html): Who has the condition?* [Consent](consent.html): Who the consent applies to* [DetectedIssue](detectedissue.html): Associated patient* [DeviceRequest](devicerequest.html): Individual the service is ordered for* [DeviceUseStatement](deviceusestatement.html): Search by subject - a patient* [DiagnosticReport](diagnosticreport.html): The subject of the report if a patient* [DocumentManifest](documentmanifest.html): The subject of the set of documents* [DocumentReference](documentreference.html): Who/what is the subject of the document* [Encounter](encounter.html): The patient or group present at the encounter* [EpisodeOfCare](episodeofcare.html): The patient who is the focus of this episode of care* [FamilyMemberHistory](familymemberhistory.html): The identity of a subject to list family member history items for* [Flag](flag.html): The identity of a subject to list flags for* [Goal](goal.html): Who this goal is intended for* [ImagingStudy](imagingstudy.html): Who the study is about* [Immunization](immunization.html): The patient for the vaccination record* [List](list.html): If all resources have the same subject* [MedicationAdministration](medicationadministration.html): The identity of a patient to list administrations  for* [MedicationDispense](medicationdispense.html): The identity of a patient to list dispenses  for* [MedicationRequest](medicationrequest.html): Returns prescriptions for a specific patient* [MedicationStatement](medicationstatement.html): Returns statements for a specific patient.* [NutritionOrder](nutritionorder.html): The identity of the person who requires the diet, formula or nutritional supplement* [Observation](observation.html): The subject that the observation is about (if patient)* [Procedure](procedure.html): Search by subject - a patient* [RiskAssessment](riskassessment.html): Who/what does assessment apply to?* [ServiceRequest](servicerequest.html): Search by subject - a patient* [SupplyDelivery](supplydelivery.html): Patient for whom the item is supplied* [VisionPrescription](visionprescription.html): The identity of a patient to list dispenses for",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "severity",
            "description": "mild | moderate | severe (of event as a whole)",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "identifier",
            "description": "Multiple Resources: * [AllergyIntolerance](allergyintolerance.html): External ids for this item* [CarePlan](careplan.html): External Ids for this plan* [CareTeam](careteam.html): External Ids for this team* [Composition](composition.html): Version-independent identifier for the Composition* [Condition](condition.html): A unique identifier of the condition record* [Consent](consent.html): Identifier for this record (external references)* [DetectedIssue](detectedissue.html): Unique id for the detected issue* [DeviceRequest](devicerequest.html): Business identifier for request/order* [DiagnosticReport](diagnosticreport.html): An identifier for the report* [DocumentManifest](documentmanifest.html): Unique Identifier for the set of documents* [DocumentReference](documentreference.html): Master Version Specific Identifier* [Encounter](encounter.html): Identifier(s) by which this encounter is known* [EpisodeOfCare](episodeofcare.html): Business Identifier(s) relevant for this EpisodeOfCare* [FamilyMemberHistory](familymemberhistory.html): A search by a record identifier* [Goal](goal.html): External Ids for this goal* [ImagingStudy](imagingstudy.html): Identifiers for the Study, such as DICOM Study Instance UID and Accession number* [Immunization](immunization.html): Business identifier* [List](list.html): Business identifier* [MedicationAdministration](medicationadministration.html): Return administrations with this external identifier* [MedicationDispense](medicationdispense.html): Returns dispenses with this external identifier* [MedicationRequest](medicationrequest.html): Return prescriptions with this external identifier* [MedicationStatement](medicationstatement.html): Return statements with this external identifier* [NutritionOrder](nutritionorder.html): Return nutrition orders with this external identifier* [Observation](observation.html): The unique id for a particular observation* [Procedure](procedure.html): A unique identifier for a procedure* [RiskAssessment](riskassessment.html): Unique identifier for the assessment* [ServiceRequest](servicerequest.html): Identifiers assigned to this order* [SupplyDelivery](supplydelivery.html): External identifier* [SupplyRequest](supplyrequest.html): Business Identifier for SupplyRequest* [VisionPrescription](visionprescription.html): Return prescriptions with this external identifier",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "manifestation",
            "description": "Clinical symptoms/signs associated with the Event",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "recorder",
            "description": "Who recorded the sensitivity",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "in": "query",
            "name": "onset",
            "description": "Date(/time) when manifestations showed",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "_filter",
            "description": "Search the contents of the resource's data using a filter",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "asserter",
            "description": "Source of the information about the allergy",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "route",
            "description": "How the subject was exposed to the substance",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "in": "query",
            "name": "_has",
            "description": "Return resources linked to by the given target",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "in": "query",
            "name": "_text",
            "description": "Search on the narrative of the resource",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "in": "query",
            "name": "category",
            "description": "food | medication | environment | biologic",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "last-date",
            "description": "Date(/time) of last known occurrence of a reaction",
            "type": "string",
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AllergyIntolerance"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/AllergyIntolerance/_search": {
      "post": {
        "summary": "Search AllergyIntolerances",
        "description": "Search across all AllergyIntolerance instances",
        "operationId": "SearchPostAllergyIntolerance",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "date",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "code",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_lastUpdated",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "verification-status",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "criticality",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "clinical-status",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "type",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "patient",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "severity",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "identifier",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "manifestation",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "recorder",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_security",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "onset",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_filter",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "asserter",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "route",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_profile",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_tag",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_has",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_source",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_id",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_text",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_content",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "category",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "last-date",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AllergyIntolerance"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/Appointment/{id}/_history/{vid}": {
      "get": {
        "summary": "VRead a Appointment instance",
        "description": "VRead a Appointment instance",
        "operationId": "VReadAppointment",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          },
          {
            "$ref": "#/parameters/vid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Appointment"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/Appointment/{id}": {
      "get": {
        "summary": "Read a Appointment instance",
        "description": "Read a Appointment instance",
        "operationId": "ReadAppointment",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Appointment"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/Appointment": {
      "get": {
        "summary": "Search Appointments",
        "description": "Search across all Appointment instances",
        "operationId": "SearchGetAppointment",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "description": "Appointment date/time.",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "specialty",
            "description": "The specialty of a practitioner that would be required to perform the service requested in this appointment",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "service-category",
            "description": "A broad categorization of the service that is to be performed during this appointment",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "in": "query",
            "name": "slot",
            "description": "The slots that this appointment is filling",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "reason-code",
            "description": "Coded reason this appointment is scheduled",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "based-on",
            "description": "The service request this appointment is allocated to assess",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "patient",
            "description": "One of the individuals of the appointment is this patient",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "supporting-info",
            "description": "Additional information to support the appointment",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "identifier",
            "description": "An Identifier of the Appointment",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "practitioner",
            "description": "One of the individuals of the appointment is this practitioner",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "appointment-type",
            "description": "The style of appointment or patient that has been booked in the slot (not service type)",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "part-status",
            "description": "The Participation status of the subject, or other participant on the appointment. Can be used to locate participants that have not responded to meeting requests.",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "service-type",
            "description": "The specific service that is to be performed during this appointment",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "in": "query",
            "name": "_filter",
            "description": "Search the contents of the resource's data using a filter",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "actor",
            "description": "Any one of the individuals participating in the appointment",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "in": "query",
            "name": "_has",
            "description": "Return resources linked to by the given target",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "reason-reference",
            "description": "Reason the appointment is to take place (resource)",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "in": "query",
            "name": "location",
            "description": "This location is listed in the participants of the appointment",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "in": "query",
            "name": "_text",
            "description": "Search on the narrative of the resource",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "in": "query",
            "name": "status",
            "description": "The overall status of the appointment",
            "type": "string",
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Appointment"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/Appointment/_search": {
      "post": {
        "summary": "Search Appointments",
        "description": "Search across all Appointment instances",
        "operationId": "SearchPostAppointment",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "date",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "specialty",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "service-category",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_lastUpdated",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "slot",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "reason-code",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "based-on",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "patient",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "supporting-info",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "identifier",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "practitioner",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "appointment-type",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "part-status",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "service-type",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_security",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_filter",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "actor",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_profile",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_tag",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_has",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "reason-reference",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_source",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "location",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_id",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_text",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_content",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "status",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Appointment"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/AppointmentResponse/{id}/_history/{vid}": {
      "get": {
        "summary": "VRead a AppointmentResponse instance",
        "description": "VRead a AppointmentResponse instance",
        "operationId": "VReadAppointmentResponse",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          },
          {
            "$ref": "#/parameters/vid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppointmentResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/AppointmentResponse/{id}": {
      "get": {
        "summary": "Read a AppointmentResponse instance",
        "description": "Read a AppointmentResponse instance",
        "operationId": "ReadAppointmentResponse",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppointmentResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/AppointmentResponse": {
      "get": {
        "summary": "Search AppointmentResponses",
        "description": "Search across all AppointmentResponse instances",
        "operationId": "SearchGetAppointmentResponse",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "identifier",
            "description": "An Identifier in this appointment response",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "practitioner",
            "description": "This Response is for this Practitioner",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "part-status",
            "description": "The participants acceptance status for this appointment",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "in": "query",
            "name": "appointment",
            "description": "The appointment that the response is attached to",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "_filter",
            "description": "Search the contents of the resource's data using a filter",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "actor",
            "description": "The Person, Location/HealthcareService or Device that this appointment response replies for",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "in": "query",
            "name": "patient",
            "description": "This Response is for this Patient",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "in": "query",
            "name": "_has",
            "description": "Return resources linked to by the given target",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "in": "query",
            "name": "location",
            "description": "This Response is for this Location",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "in": "query",
            "name": "_text",
            "description": "Search on the narrative of the resource",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppointmentResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/AppointmentResponse/_search": {
      "post": {
        "summary": "Search AppointmentResponses",
        "description": "Search across all AppointmentResponse instances",
        "operationId": "SearchPostAppointmentResponse",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "identifier",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "practitioner",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "part-status",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_lastUpdated",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_security",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "appointment",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_filter",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "actor",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_profile",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "patient",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_tag",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_has",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_source",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "location",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_id",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_text",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_content",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppointmentResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/AuditEvent/{id}/_history/{vid}": {
      "get": {
        "summary": "VRead a AuditEvent instance",
        "description": "VRead a AuditEvent instance",
        "operationId": "VReadAuditEvent",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          },
          {
            "$ref": "#/parameters/vid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuditEvent"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/AuditEvent/{id}": {
      "get": {
        "summary": "Read a AuditEvent instance",
        "description": "Read a AuditEvent instance",
        "operationId": "ReadAuditEvent",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuditEvent"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/AuditEvent": {
      "get": {
        "summary": "Search AuditEvents",
        "description": "Search across all AuditEvent instances",
        "operationId": "SearchGetAuditEvent",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "description": "Time when the event was recorded",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "entity-type",
            "description": "Type of entity involved",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "agent",
            "description": "Identifier of who",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "entity-role",
            "description": "What role the entity played",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "in": "query",
            "name": "source",
            "description": "The identity of source detecting the event",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "type",
            "description": "Type/identifier of event",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "altid",
            "description": "Alternative User identity",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "agent-name",
            "description": "Human friendly name for the agent",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "entity-name",
            "description": "Descriptor for entity",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "subtype",
            "description": "More specific type/id for the event",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "patient",
            "description": "Identifier of who",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "action",
            "description": "Type of action performed during the event",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "outcome",
            "description": "Whether the event succeeded or failed",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "policy",
            "description": "Policy that authorized event",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "address",
            "description": "Identifier for the network access point of the user device",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "in": "query",
            "name": "_filter",
            "description": "Search the contents of the resource's data using a filter",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "site",
            "description": "Logical source location within the enterprise",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "in": "query",
            "name": "_has",
            "description": "Return resources linked to by the given target",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "in": "query",
            "name": "_text",
            "description": "Search on the narrative of the resource",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "in": "query",
            "name": "agent-role",
            "description": "Agent role in the event",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "entity",
            "description": "Specific instance of resource",
            "type": "string",
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuditEvent"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/AuditEvent/_search": {
      "post": {
        "summary": "Search AuditEvents",
        "description": "Search across all AuditEvent instances",
        "operationId": "SearchPostAuditEvent",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "date",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "entity-type",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "agent",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "entity-role",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_lastUpdated",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "source",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "type",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "altid",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "agent-name",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "entity-name",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "subtype",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "patient",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "action",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "outcome",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "policy",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "address",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_security",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_filter",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "site",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_profile",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_tag",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_has",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_source",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_id",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_text",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_content",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "agent-role",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "entity",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuditEvent"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/Basic/{id}/_history/{vid}": {
      "get": {
        "summary": "VRead a Basic instance",
        "description": "VRead a Basic instance",
        "operationId": "VReadBasic",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          },
          {
            "$ref": "#/parameters/vid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Basic"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/Basic/{id}": {
      "get": {
        "summary": "Read a Basic instance",
        "description": "Read a Basic instance",
        "operationId": "ReadBasic",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Basic"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/Basic": {
      "get": {
        "summary": "Search Basics",
        "description": "Search across all Basic instances",
        "operationId": "SearchGetBasic",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "identifier",
            "description": "Business identifier",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "code",
            "description": "Kind of Resource",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "author",
            "description": "Who created",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "created",
            "description": "When created",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "subject",
            "description": "Identifies the focus of this resource",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "in": "query",
            "name": "_filter",
            "description": "Search the contents of the resource's data using a filter",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "in": "query",
            "name": "patient",
            "description": "Identifies the focus of this resource",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "in": "query",
            "name": "_has",
            "description": "Return resources linked to by the given target",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "in": "query",
            "name": "_text",
            "description": "Search on the narrative of the resource",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Basic"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/Basic/_search": {
      "post": {
        "summary": "Search Basics",
        "description": "Search across all Basic instances",
        "operationId": "SearchPostBasic",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "identifier",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "code",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "author",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "created",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "subject",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_lastUpdated",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_security",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_filter",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_profile",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "patient",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_tag",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_has",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_source",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_id",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_text",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_content",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Basic"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/Binary/{id}/_history/{vid}": {
      "get": {
        "summary": "VRead a Binary instance",
        "description": "VRead a Binary instance",
        "operationId": "VReadBinary",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          },
          {
            "$ref": "#/parameters/vid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Binary"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/Binary/{id}": {
      "get": {
        "summary": "Read a Binary instance",
        "description": "Read a Binary instance",
        "operationId": "ReadBinary",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Binary"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/Binary": {
      "get": {
        "summary": "Search Binarys",
        "description": "Search across all Binary instances",
        "operationId": "SearchGetBinary",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "in": "query",
            "name": "_has",
            "description": "Return resources linked to by the given target",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "in": "query",
            "name": "_text",
            "description": "Search on the narrative of the resource",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "in": "query",
            "name": "_filter",
            "description": "Search the contents of the resource's data using a filter",
            "type": "string",
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Binary"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/Binary/_search": {
      "post": {
        "summary": "Search Binarys",
        "description": "Search across all Binary instances",
        "operationId": "SearchPostBinary",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "_profile",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_lastUpdated",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_tag",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_has",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_security",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_source",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_id",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_text",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_content",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "_filter",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Binary"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/BiologicallyDerivedProduct/{id}/_history/{vid}": {
      "get": {
        "summary": "VRead a BiologicallyDerivedProduct instance",
        "description": "VRead a BiologicallyDerivedProduct instance",
        "operationId": "VReadBiologicallyDerivedProduct",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          },
          {
            "$ref": "#/parameters/vid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BiologicallyDerivedProduct"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/BiologicallyDerivedProduct/{id}": {
      "get": {
        "summary": "Read a BiologicallyDerivedProduct instance",
        "description": "Read a BiologicallyDerivedProduct instance",
        "operationId": "ReadBiologicallyDerivedProduct",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BiologicallyDerivedProduct"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/BiologicallyDerivedProduct": {
      "get": {
        "summary": "Search BiologicallyDerivedProducts",
        "description": "Search across all BiologicallyDerivedProduct instances",
        "operationId": "SearchGetBiologicallyDerivedProduct",
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/_profile"
          },
          {
            "$ref": "#/parameters/_lastUpdated"
          },
          {
            "$ref": "#/parameters/_tag"
          },
          {
            "in": "query",
            "name": "_has",
            "description": "Return resources linked to by the given target",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_security"
          },
          {
            "$ref": "#/parameters/_source"
          },
          {
            "$ref": "#/parameters/_id"
          },
          {
            "in": "query",
            "name": "_text",
            "description": "Search on the narrative of the resource",
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/_content"
          },
          {
            "in": "query",
            "name": "_filter",
            "description": "Search the contents of the resource's data using a filter",
            "type": "string",
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BiologicallyDerivedProduct"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/_format"
        },
        {
          "$ref": "#/parameters/_pretty"
        },
        {
          "$ref": "#/parameters/_summary"
        },
        {
          "$ref": "#/parameters/_elements"
        }
      ]
    },
    "/BiologicallyDerivedProduct/_search": {
      "post": {
[...]
